/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  block-size: 100%;
  font-family: var(--main-font-family), sans-serif;
  color: #000000;
  font-variation-settings: 'wght' var(--text-font-weight), 'wdth' 100, 'opsz' 0;
  background-image: var(--bg-image);
  background-color: #FFF;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-block: var(--header-padding-block);
  text-align: center;
  font-family: var(--accent-font-family), 'Neucha';
  font-weight: 400;
  text-transform: uppercase;
}

.header-title_HTML {
  font-size: var(--header-logo-size);
  line-height: 49px;
  margin-block-end: 20px;
}

.content {
  display: grid;
  gap: 50px;
}

.blocks {
  background-color: #FFF;
  width: var(--blocks-width);
  border: 2px solid #000000;
}

.header-title {
  font-size: var(--header-title-size);
  font-size: 14px;
  line-height: 14px;
}

.title-block {
  font-size: var(--main-text-size);
  font-weight: var(--text-weight-bold);
  line-height: 22px;
  padding: 4px 10px;
}

.image_section {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.text-block {
  padding: 22px 25px 25px;
  display: grid;
  gap: 25px;
  grid-template-rows: 2fr, 1fr;
  font-size: var(--main-text-size);
  align-content: start;
}

.section-button {
  padding: 1px 25px 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.card__icon-button,
.card__like-button,
.card__memory-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  font-family: var(--accent-font-family), 'Neucha';
  font-size: 14px;
  line-height: 90%;
}

.card__memory-button {
  font-family: var(--accent-font-family), 'Neucha';
  font-size: 14px;
  line-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 12px 17px 14px;
  border: 2px solid #000000;
  margin: 50px 34.5px 100px;
  white-space: nowrap
}

.save-icon {
  display: block;
  width: 28px;
  height: 28x;
  flex-shrink: 0;
}