/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  min-inline-size: 320px;
  block-size: 100%;
  font-family: var(--main-font-family), sans-serif;
  color: #000000;
  font-variation-settings: 'wght' var(--text-weight-regular), 'wdth' 100, 'opsz' 0;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-block: var(--header-padding-block);
  text-align: center;
  font-family: var(--accent-font-family), fantasy;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;

}

.header-title_HTML {
  font-size: var(--header-logo-size);
  line-height: 1;
  margin-block-end: 20px;
  display: block;
}


.content {
  display: grid;
  gap: 50px;
  flex-wrap: wrap;
}

.blocks {
  background-color: #FFF;
  width: var(--blocks-width);
  border: 2px solid #000000;
}

.header-title {
  font-size: var(--header-title-size);
  line-height: 1;
  display: block;
}

.title-block {
  font-size: var(--main-text-size);
  font-variation-settings: 'wght' var(--text-weight-bold);
  line-height: 1.375em;
  padding: 4px 10px;
}

.image_section {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-block: 2px solid var(--accent-color);
  object-position: top center;
}




.text-block {
  padding: 22px 25px 25px;
  display: grid;
  gap: 25px;
  font-size: var(--main-text-size);
  align-content: start;
}

.section-button {
  padding: 1px 25px 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.button {
  padding: 0;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__memory-button {
  gap: 8px;
  padding: 12px 17px 14px;
  margin: 0 34.5px 100px;
  white-space: nowrap;
  background-color: var(--bg-color);
}


.button__text {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 1;
}

.save-icon {
  display: block;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}


.card_image {
  position: relative;
}

.label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font-family), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0.5;
  text-shadow:
    1px 0 var(--label-stroke),
    -1px 0 var(--label-stroke),
    0 1px var(--label-stroke),
    0 -1px var(--label-stroke);
}

@supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke);
    text-stroke: 1px var(--label-stroke);
  }
}


.dialog {
  display: none;
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--accent-font-family, monospace);
  font-size: 14px;
  text-transform: uppercase;
}

.dialog[open] {
  max-width: 341px;
  padding: 30px 40px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}



.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dialog__row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.save-icon_open {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog__button {
  padding: 12.5px 116.5px;
}

@media (min-width: 376px) {
  .card__memory-button {
    margin-inline: auto;
    justify-content: center;
    padding: 20.5px 20px;
    flex-direction: row;
  }

  .dialog[open] {
    max-width: 353px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate-blur {
  filter: saturate(105%) blur(0.1rem);
}

.filter-brightness {
  filter: brightness(145%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-drop-shadow-contrast {
  filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8)) contrast(1) hue-rotate(-110deg);
}

.filter-saturate {
  filter: saturate(130%);
}

.filter-hue-rotate {
  filter: hue-rotate(-105deg);
}

.samurai {
  filter: contrast(170%);
}


.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}


.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button .button__text, 
.button .save-icon,
.button svg {
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
  fill: var(--bg-color);
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s 0s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-color);
  transition: fill 0.3s 0.05s linear;
}


.sparks {
  opacity: 0.0;
}