/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  min-inline-size: 320px;
  block-size: 100%;
  font-family: var(--main-font-family), sans-serif;
  color: #000000;
  font-variation-settings: 'wght' var(--text-font-weight), 'wdth' 100, 'opsz' 0;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 98px;
  padding-block: var(--header-padding-block);
  text-align: center;
  font-family: var(--accent-font-family), 'Neucha';
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
 
}

.header-title_HTML {
  font-size: var(--header-logo-size);
  line-height: 1;
  margin-block-end: 20px;
  display: block;
}


.content {
  display: grid;
  gap: 50px;
}

.blocks {
  background-color: #FFF;
  width: var(--blocks-width);
  border: 2px solid #000000;
}

.header-title {
  font-size: var(--header-title-size);
  line-height: 1;
  display: block;
}

.title-block {
  font-size: var(--main-text-size);
  font-weight: var(--text-weight-bold);
  line-height: 22px;
  padding: 4px 10px;
}

.image_section {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.text-block {
  padding: 22px 25px 25px;
  display: grid;
  gap: 25px;
  grid-template-rows: 2fr, 1fr;
  font-size: var(--main-text-size);
  align-content: start;
}

.section-button {
  padding: 1px 25px 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.card__icon-button,
.card__like-button,
.card__memory-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.card__memory-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 12px 17px 14px;
  border: 2px solid var(--accent-color);
  margin: 0 34.5px 100px;
  white-space: nowrap;
  background-color: var(--bg-color);
}



.button__text {
  font-family: var(--accent-font-family), 'Neucha';
  font-size: 14px;
  line-height: 90%;
    position: relative;
  z-index: 1; 
}

.save-icon {
  display: block;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}


.card_image {
  position: relative;
}

.label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font-family), 'Neucha';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0.5;
  text-shadow:
    1px 0 var(--label-stroke),
    -1px 0 var(--label-stroke),
    0 1px var(--label-stroke),
    0 -1px var(--label-stroke);
}

@supports ((-webkit-text-stroke: 1px #000) or (text-stroke: 1px #000)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke);
    text-stroke: 1px var(--label-stroke);
  }
}

.label-white {
  color: var(--accent-color);
  opacity: 0.5;
  text-shadow:
    1px 0 var(--label-white-stroke),
    -1px 0 var(--label-white-stroke),
    0 1px var(--label-white-stroke),
    0 -1px var(--label-white-stroke);
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .label-white {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-white-stroke);
    text-stroke: 1px var(--label-white-stroke);
  }
}


.dialog {
  display: none;
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--accent-font-family, monospace);
  font-size: 14px;
  text-transform: uppercase;
}

.dialog[open] {
  display: block;
  max-width: 341px;
  padding: 30px 40px;
  position: fixed;
  margin-block-end: 270px;
  margin-inline: 17px;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0px;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dialog__row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.save-icon_open {
  width: 39px;
  height: 39px;
}

.dialog__button {
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  padding: 12.5px 116.5px;
  font-family: inherit;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

@media (min-width: 376px) {
  .card__memory-button {
    margin-inline: auto; 
    display: flex;
    justify-content: center;
    padding: 20.5px 20px;
    flex-direction:row;
  }
  
.dialog[open] {
  max-width: 353px;
  padding: 30px;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%)
}
}


.card__like-button,
.card__memory-button,
.dialog__button {
  position: relative;
  overflow: hidden;
}

.card__like-button:focus,
.card__memory-button:focus,
.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}


.card__like-button::before,
.card__memory-button::before,
.dialog__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.card__memory-button:hover::before,
.dialog__button:hover::before {
  transform: scaleX(1);
}

.card__like-button .button__text,
.card__memory-button .button__text,
.dialog__button .button__text, use {
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

