/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
--main-font-family: 'Inter';
--accent-font-family: 'PressStart2P';
--title-font-weight: 715;
--text-weight-regular: 410;
--text-weight-bold: 715;
--bg-image: repeating-linear-gradient(180deg, #d3d3d3 0px 2px, transparent 2px 4px),
            repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
--blocks-width: clamp(375px, 260.64px + 30.52vw, 700px);
--header-logo-size: clamp(3.0625rem, 4.5vw, 4.0625rem);
--header-title-size: clamp(14px, 10.83px + 0.845vw, 23px);
--header-padding-block: clamp(7.625rem, 7.45rem + 0.047vw, 8.125rem);
--main-text-size: 18px;
}


