/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';
    --text-weight-regular: 410;
    --text-weight-bold: 715;
    --bg-image: repeating-linear-gradient(180deg, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --blocks-width: clamp(375px, 260.64px + 30.52vw, 700px);
    --header-logo-size: clamp(49px, 1.502vw + 43.37px, 65px);
    --header-title-size: clamp(14px, 0.84507vw + 10.831px, 23px);
    --header-padding-block: clamp(7.625rem, 0.75117vw + 7.4489rem, 8.125rem);
    --main-text-size: 18px;
    --label-stroke: #000;
    --label-white-stroke: #fff;
    --accent-color: #000;
    --button-text-color: #FFF;
    --button-text-bg: #FFF;
    --icon-color: #FFF;
    --bg-color: #fff;
    --animation-color:#FF0000;
}